* {
    padding: 0%;
    margin: 0%;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #eff2f1;
    font-weight: 400;
    line-height: 28px;
    /* color: #6a6a6a; */
    font-size: 14px;
    scroll-behavior: smooth;
}
.navbar_section {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background: #3b5d50;
}
.navbar-nav li a {
    color: #333; 
    transition: color 0.3s; 
}
.row{
    --bs-gutter-x:0rem !important;
}
.ov{
    padding-top: 30px;
}
.navbar-nav li a:hover {
    color: #ff0000;
}
.nav-link:hover {

    text-decoration: underline chartreuse 5px;
    box-sizing: border-box;
     
  }
.nav-url {
    justify-content: flex-end;
}

.heroo {
    background: #3b5d50;
    padding: 100px 0px 100px 0px;
    margin-top: 10px;
}

.heroimg {
    max-width: 100%;
    height: auto;
}

.hh:hover {
    transform: translateY(-4px);
    
    transition: transform 0.3s ease;
   
}


h6 {
    padding: 6%;
    font-size: xx-large;
}


.row{
    margin: 20px;
}

.slider {
    
    background-color: #e1fcf1;
    padding-bottom: 7.5%;
    padding-top: 7.5%;
}

.slider h3{
    font-size: 2.5rem;
    text-align: center;
}

.slider p {
    text-align: center;
    font-size: large;
    
   
}



.slider_main_div{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding-top: 100px;
}
.section5{
    list-style: none;

}
.section5 a{
    text-decoration: none;
    color: #ff0000;
}




footer{
    padding-top: 6%;
    background-color: #ececec;
    padding-left: 30px;
}
footer .foot{
    padding-bottom: 3%;
}

.uss li{
    list-style: none;  
    padding: 0%;
      
}



.uss li a {
    color: rgb(0, 0, 0); 
    text-decoration: none; 
}


.aboutus_section_one{
    padding-top: 100px;
}
.aboutus_section_one a{
    text-decoration: none;
    

}
.aboutus_section{
    background-color: #eff2f1;
    padding-top: 100px;
    padding-bottom: 8%;
}

.border-top {
    border-top: 2px solid #464e57 !important;
}
.shopmm{
    background-color: white;
}






.zero{
    padding-top: 100px;
    font-weight: 900;
    font-size: 26px;
}





@media (max-width: 768px) {
    
    

    .nav-url {
        justify-content: center; 
    }

    .slider_main_div {
        max-width: 90%; 
    }

    .footer ul {
        text-align: center; 
    }
    .navbar-collapse {
        justify-content: center; 
    }

    .heroo {
        padding-top: 20%; 
    }

    .heroimg {
        width: 100%; 
        max-width: 100%;
        height: auto;
        margin-top: 20px;
    }
    .heroo p {
        font-size: 14px; 
        line-height: 1.5; 
    }

    .button1 {
        margin-top: 20px; 
    }
   #pak{
    font-size: 20px;
    font-weight: 500;

   }
   
}
.card-img-top {
    transition: transform 0.5s ease;
  }
  
  .card:hover .card-img-top {
    transform: translateY(-20%);
    
  }
  .card :hover{
    background-color: rgb(217, 221, 223); /* Change this to the desired color */
  }
  
  .card .btn {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .card:hover .btn {
    display: block;
 
  }
  

  .card-body {
    position: relative;
    transition: background-color 0.3s ease;
  }
  

  .middel{
    background-color: #eff2f1;
  }
  
.herooo {
    background: #3b5d50;
    padding: 100px 0px 50px 0px;
    margin-top: 30px;
}
.herooo h1{
    color:white;
    padding-left: 100px;
}


.cart{
    height: 300px;
    background-color: #3b5d50;
    width: 100%;
}
.detail_section_two{
   display: flex;
    text-align: center;
    position: relative;
    padding-top: 50px;
}
.center{
    padding-bottom: 120px;
}
.list-unstyled{
    list-style: none;
}
.list-unstyled a{
    text-decoration: none;
    color: black;
}
.email{
    text-decoration: none;
    color: black;
}
.numb{
    text-decoration: none;
    color: black;
}
#tt{
   
        font-size: 32px;
        font-weight: 500;
        text-decoration: none;
        color: #00ff9d;
    
}
#pak{
    text-decoration: none; color: #3b5d50;font-size: -25px;font-weight: 700;
}
.cart-section-1{
    height: 250px;
    width: 100%;
    background-color: #3b5d50;
}
.cart-section-1 h1{
    font-size:2.5rem;
    color: #eff2f1;
    font-weight: 800;
    padding-top: 130px ; 
    padding-left: 70px;
}
.ajj{

        width: 0%; /* Adjust as needed */
        text-align: center;
    }
.table-cart{
    padding-bottom: 160px;
}
#pad{
    padding-top: 300px;
}

